<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">

    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <select id="findAllMenus" resultMap="menuResultMap">
        select
        menu_code,
        menu_name,
        menu_price,
        category_code,
        orderable_status
        from tbl_menu
        where orderable_status = 'Y'
        order by menu_code
    </select>

    <select id="findAllCategory" resultMap="categoryResultMap">
        select
        category_code,
        category_name,
        ref_category_code
        from tbl_category
    </select>

    <insert id="registNewMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO"
            useGeneratedKeys="true" keyProperty="code">
        <!-- 데이터베이스에서 새로운 사용자 추가할때 사용자 ID(PK)가 자동으로 증가되는 경우가 있는데
            useGeneratedKeys=true(사용한다.) 로 설정하여 새로운 사용자의 아이디 얻어올 수 있다. // 여기서 properties key = code 설정함
            스프링에서 DB에서 자동 생성된 키 값을 직접 가져와서 좀 더 편리하고 안전하게 수행하기 위해 사용한다.
            (true로 설정하면, 자동으로 생성된 키 값을 반환하도록 JDBC드라이버에 지시하고, 이것이 새로운 레코드의 PK 를 얻어오기 위해 사용된다.)
            -->
        INSERT INTO tbl_menu
        (
        menu_name,
        menu_price,
        category_code,
        orderable_status
        )
        VALUES
        (
        #{ name },
        #{ price },
        #{ categoryCode },
        #{ orderableStatus }
        )
    </insert>

    <resultMap id="menuAndCategoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuAndCategoryDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="orderableStatus" column="orderable_status"/>
        <association property="categoryDTO" javaType="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
            <id property="code" column="category_code"/>
            <result property="name" column="category_name"/>
            <result property="refCategoryCode" column="ref_category_code"/>
        </association>
    </resultMap>

    <select id="findAllMenuAndCategoryList" resultMap="menuAndCategoryResultMap">
        select
        a.menu_code,
        a.menu_name,
        a.menu_price,
        a.orderable_status,
        b.category_code,
        b.category_name,
        b.ref_category_code
        from
        tbl_menu a
        join
        tbl_category b on (a.category_code = b.category_code)
        where
        a.orderable_status = 'Y'
    </select>

    <delete id="deleteMenuByCode" parameterType="int">  <!--parameter type으로 int라는 것을 명시해주자!(code 가!!)-->
        delete from tbl_menu
        where menu_code = ${ code }
    </delete>

</mapper>